/client/.nyc_output/out.json
/client/cypress/reports/sonar/cypress/integration/loading.specs.ts.xml
/client/cypress/reports/sonar/sonar-report-all.xml
/client/cypress/reports/tests/assets/loading.specs.ts/Errors pages -- Not Found (failed).png
/client/cypress/reports/tests/assets/loading.specs.ts/Login -- With Success (failed).png
/client/cypress/reports/tests/assets/loading.specs.ts/Offlines Access -- Settings (failed).png
/client/cypress/reports/tests/assets/loading.specs.ts/Subscription -- With Success (failed).png
/client/cypress/reports/tests/mochawesome.html
/client/cypress/reports/tests/mochawesome.json
/client/cypress/videos/loading.specs.ts.mp4
/client/uml/model/**/*.old
/node_modules/*
